@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-family: 'Nunito', sans-serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2.75rem;
  color: #ededed;
  text-shadow: #000 0px 0px 1px;
}

.input {
  border: none;
  font-size: inherit;
  padding: 0.5rem;
  color: #ddd;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.input:focus {
  border: none;
  outline: none;
}

.divinput label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input,
.divinput {
  background-color: #1e222f;
  border-radius: 0.3em;
}

.lupa {
  color: #b1b1b2;
  padding: 0.25em 0.5em;
}

.divinput {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 70vw;
  margin-bottom: 3rem;
}

.divinput label {
  padding: 0 0.2em;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.heroicard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 70vw;
  transition: 0.3s;
  transform: scale(0.9);
}

.imgheroi {
  border-radius: 0.3rem;
}

.heroiname {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.heroicard:hover {
  transform: scale(1);
}

.cardwrapper {
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.heroidesc {
  display: none;
}

@media (min-width: 1000px) {
  .heroidesc {
    display: block;
    margin-left: 5rem;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
  }

  .heroiname {
    font-size: 1.5rem;
  }

  .titulo {
    font-size: 3.5rem;
  }

  .divinput {
    max-width: 50vw;
    font-size: 1.5rem;
  }
}
