.geral {
  height: 100vh;
  background-color: #1e222f;
}

.btnhome {
  text-align: center;
  padding: 2em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
  text-decoration: none;
}

.btnlink {
  padding-left: 0.5em;
}

.heroisection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 20vh;
  border-radius: 0.5em;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.nome {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.descricao {
  max-width: 70vw;
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ccc;
}
