@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
  margin: 0;
  overflow-y: hidden;
}

.background {
  height: 100vh;
  background-image: url(../assets/deadpool-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  overflow-y: hidden;
}

.gradient {
  height: inherit;
  width: inherit;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 1%,
    transparent 99%
  );
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 1rem;
  left: 0;
  right: 0;
  color: #ccc;
  font-family: 'Nunito', sans-serif;
}

@media (min-width: 1000px) {
  .background {
    background-image: url(../assets/deadpool-bg-grande.jpg);
  }
  .footer {
    color: #222;
  }
}
